<div
  class="top-left p-2 bg-gray-800 border-right border-gray-700 gap-2 relative flex"
>
  <button
    class="burger-btn self-center flex justify-center items-center h-[2.4em] w-[2.4em] hover:bg-white/25 p-1 rounded-full"
  >
    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
  <input
    class="bg-gray-700 pl-3 flex-1 rounded-full text-gray-500"
    type="text"
    placeholder="Search"
  />
</div>
