<div
  class="top-right p-2 bg-gray-800 border border-gray-700 gap-2 relative flex justify-between"
>
  <div class="items-center gap-2 flex">
    <button class="left-arrow-btn p-2 bg-gray-700 hover:bg-gray-500 cursor-pointer active:scale-95 transition-all duration-300 rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
    </button>

    <img
      src="https://res.cloudinary.com/practicaldev/image/fetch/s--SjkZWr3n--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/859037/ff4d3906-9a2a-4208-8666-d725da43dc0c.png"
      class="w-10 h-10 rounded-full"
      alt=""
    />

    <div class="flex flex-col">
      <div class="title font-bold">BotFather</div>
      <div class="subtitle">@BotFather</div>
    </div>
  </div>

  <div class="flex gap-2">
    <button
      class="burger-btn self-center flex justify-center items-center h-[2.4em] w-[2.4em] hover:bg-gray-700 p-1 rounded-full"
    >
      <!-- search icon -->
      <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <button
      class="burger-btn self-center flex justify-center items-center h-[2.4em] w-[2.4em] hover:bg-gray-700 p-1 rounded-full"
    >
      <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
        ></path>
      </svg>
    </button>
  </div>
</div>
