<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <body class="bg-slate-900 h-full text-white">
    <div class="main">
      <!-- top left nav -->
      <%- include ('./partials/top-left') %>

      <!-- top right -->
      <%- include ('./partials/top-right') %>

      <!-- bottom left -->
      <%- include ('./partials/bottom-left') %>

      <!-- bottom right -->
      <%- include ('./partials/bottom-right') %>
    </div>
  </body>

  <script></script>
</html>
