<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <body class="bg-slate-900 h-full">
    <div class="main text-white h-full w-full">
      <div class="top-left bg-slate-900 shadow-xl sticky top-0 left-0 border border-gray-600 py-2 px-3 flex justify-between items-center" >s</div>
      <div class="top-right bg-gray-900 shadow-xl sticky top-0 left-0 border border-gray-600 py-2 px-3 flex justify-between items-center" >d</div>
      <div class="bottom-left bg-gray-300">d</div>
      <div class="bottom-right bg-gray-200">d</div>
    </div>
  </body>
</html>
