html,body{
    height: 100%;
    overflow: hidden;
}
.main{
    display: grid;
    grid-template-columns: minmax(200px,300px) 1fr;
    grid-template-rows: 3.5em 1fr;
    height: 100%;
}
.left-arrow-btn{
    position: relative;
    right: -40px;
    opacity: 0;
    display: none;
}


@media (max-width: 550px){
    .main{
        grid-template-columns: 0 1fr;
    }
    .top-left, .bottom-left{
        width: 0px;
        padding: 0px !important;
    }
    .left-arrow-btn{
        display: block;
        right: 0;
        opacity: 1;
    }
}


*::-webkit-scrollbar{
    display: none;
}


.bottom-right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow-y: hidden;
}




.me{
    background-color: #7C3AED;
    align-self: flex-end;
}


.person{
    background-color: #374151;
}